@charset "utf-8";
@import url(font.css);

* {
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, span, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, input, output, button, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    letter-spacing: 0;
    line-height: normal;
    vertical-align: baseline;
    word-break: keep-all;
    word-wrap: break-word;
    font-size: 100%;
    font-style: normal;
    font: inherit;
    -ms-overflow-style: scrollbar;
}

header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {
    display:block
}
select::-ms-expand{
    display: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
button {
  margin: 0;
  padding: 0;
  font-size: 0;
}

/* input 입력시 (X) 버튼 비노출 */
input[type=search]::-webkit-search-cancel-button {
    display: none;
}	/* chrome */
input[type=search]::-ms-clear,
input[type=search]::-ms-reveal {
    display:none;
}	/* ie */
input[type=text]::-ms-clear,
input[type=email]::-ms-clear {
    display: none;
}	/* ie */

/* input type=number 화살표 비노출 */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body {
    font-family:'Noto Sans KR','Malgun Gothic', dotum, sans-serif; 
    background-color:transparent;
    -webkit-text-size-adjust:none; 
    font-size: 1em;
}

label, input, button, select, img { 
    font-size:100%; 
    vertical-align:middle; 
    border-radius:0;
}
input, button { 
    font-family:'Noto Sans KR','Malgun Gothic', dotum, sans-serif;
}
input[type="submit"] {
    cursor:pointer;
}
button {
    background:none;
    border:0;
    cursor:pointer;
    outline-style:none;
}
textarea, select {
    font-family:'Noto Sans KR','Malgun Gothic', dotum, sans-serif;
    font-size:1em;
}


img {
    border:0;
}
a {
    /* color: #164299; */
    text-decoration:none;
    outline-style:none;
    cursor: pointer;
}
a:hover {
    /* color: #164299; */
    text-decoration:none;
    outline-style:none;
}
a:focus, a:active, a:visited {
    text-decoration:none;
    outline:none;
    outline-offset:0;
    outline-style:none;
}
a:focus, button:focus {
    outline: none;
}

table {
    table-layout:fixed;
}
ul,ol {
    margin:0;
    padding:0;
    list-style:none
}
input,textarea,select {
    letter-spacing: 0;
    border:0;
    outline-style:none;
    border-radius: 0;
}