/* 회원가입 약관 확인 */

.pageTitle {
    display: inline-block;
    float: left;
}
.containerProcess {
    display: inline-block;
    float: right;
}
.containerProcess ul {
    font-size: 0;
    width: 337px;
    height: 34px;
    padding: 3px 4px;
    border-radius: 17px;
    background-color: #EAEAEA;
    display: inline-block;
    box-sizing: border-box;
}
.containerProcess ul li {
    display: inline-block;
}
.containerProcess ul li button {
    display: inline-block;
    height: 28px;
    font-size: 13px;
    line-height: 19px;
    font-weight: 500;
    color: #888;
}
.containerProcess ul li.selected button {
    color: #333;
    background-color: #fff;
    border-radius: 14px;
    padding: 6px 28px;
}
.containerProcess ul li.unselected button {
    padding: 6px 22px;
}
.pageSubTitle {
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    color: #333;
    margin-top: 18px;
}
.pageDescription {
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
    color: #888;
}
.containerAgreement {
    width: 100%;
    height: 490px;
    background-color: #fff;
    overflow: scroll;
    padding: 28px 32px 40px;
    border-radius: 4px;
    border: 1px solid #EDEDED;
    margin-top: 30px;
}
/* scrollbar custom */  
.containerAgreement::-webkit-scrollbar {
width: 10px;
padding: 2px;
}

.containerAgreement::-webkit-scrollbar-track {
background-color: #fff;
border-radius: 5px;
}

.containerAgreement::-webkit-scrollbar-thumb {
border-radius: 5px;
background-color: #dedede;
box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}

.agreementTitle, .agreementSubject, .agreementText {
    font-size: 14px;
    line-height: 24px;
    color: #444;
}
.agreementTitle {
    font-weight: 700;
    margin-bottom: 30px;
}
.agreementSubject, .agreementText {
    font-weight: 500;
}
.agreementText {
    color: #999;
}
.sectionAgreement:not(:last-child) {
    margin-bottom: 30px;
}
.checkbox {
    margin-top: 30px;
    position: relative;
}
input[type="checkbox"]{
    display: none;
  }
.checkboxText {
    position: absolute;
    left: 38px;
    top: -2px;
}
.checkbox label {
display: inline-block;
font-size: 14px;
font-weight: 500;
line-height: 30px;
color: #444;
}
input[type="checkbox"] + label{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #fff;
    border: 1px solid #ffc327;
    border-radius: 13px;
    cursor: pointer;
  }
.checkbox input:checked + label::after{
    content:'';
    width: 11px;
    height: 11px;
    text-align: center;
    position: absolute;
    left: 7px;
    top: 7px;
    border-radius: 5px;
    background-color: #ffc327;
  }
.bottomButtons {
    text-align: center;
    margin-top: 47px;
}
.bottomButtons button {
    width: 181px;
    height: 46px;
    border-radius: 4px;
    background-color: #fff;
}
.bottomButtons .buttonCancle a, .bottomButtons .buttonConfirm a {
    display: block;
    width: 181px;
    height: 46px;
    font-size: 14px;
    line-height: 46px;
    font-weight: 500;
}
.bottomButtons .buttonCancle a {
    color: #666;
}
.bottomButtons .buttonConfirm {
    background-color: #222;
    margin-left: 12px;
}
.bottomButtons .buttonConfirm a {
    color: #fff;
}

.bottomButtons .buttonCancle:hover, .bottomButtons .buttonCancle:active {
    background-color: #bbb;
}
.bottomButtons .buttonConfirm:hover, .bottomButtons .buttonConfirm:active {
    background-color: #333;
}

/* 가입정보 입력 */
.formField {
    margin-top: 29px;
    vertical-align: top;
}
.formGroup {
    font-size: 0;
}
.formGroup .inputDesign {
    max-width: 252px;
    display: inline-block;
    margin-bottom: 20px;
}
.formLabel {
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    color: #909090;
}
.idCheck {
    background-color: #595D63;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    width: 85px;
    height: 36px;
    text-align: center;
    border-radius: 4px;
    margin-top: 8px;

}
.idCheck:hover, .idCheck:active {
    background-color: #393e44;
}
.formBox {
    display: inline-block;
    width: 13.1%;
    min-width: 252px;
    margin-right: 8px;
}
.formBox:not(:first-child) {
    vertical-align: top;
}
.inputDesign input {
    padding-left: 12px ;
    z-index: 100;
}
.passwordMatch, .passwordUnmatch {
    margin-top: 4px;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
}
.passwordMatch {
    color: #6CC337;
}
.passwordUnmatch {
    display: none;
    color: #FF7373;
}